:root {
  /* Colors */
  --primary: #f48c06;
  --primary-dark: #da7b00;
  --secondary: #2f327d;
  --secondary-dark: #252641;
  --blue: #23bdee;
  --blue-dark: #14a2cf;

  /* Text Colors */
  --text-black: #252641;
  --text-gray: #696984;

  /* Font sizes */
  --x-small: 18px;
  --small: 20px;
  --medium: 22px;
  --large: 24px;

  /* Header sizes */
  --primary-header: 54px;
  --secondary-header: 36px;
  --tertiary-header: 30px;

  /* Background color */
  --bg-color: #fff2e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a,
a:focus,
a:hover,
a:link {
  text-decoration: none;
}

.btn {
  color: white;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 38px;
  display: inline;
  transition: 300ms ease;
  border: 1 px solid var(--primary);
  background-color: var(--primary);
}

.btn--primary-outline {
  border: 1 px solid var(--primary);
  background-color: white;
  color: var(--primary);
}
.btn--primary-outline:hover {
  background-color: var(--primary);
  color: white;
}
.btn--about {
  background-color: var(--primary);
  color: white;
}

/* Fix color classes */
.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}
/* Icons inside circular wrapper */
.wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: gray;
  position: relative;
}
.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper--blue {
  background: #5b72ee;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}

.wrapper--orange {
  background: #f48c06;
  box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.1);
}

.wrapper--skyblue {
  background: #29b9e7;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-weight: 700;
  font-size: var(--primary-header);
  line-height: 81px;
}

h2 {
  font-weight: 700;
  font-size: var(--secondary-header);
  line-height: 65px;
}

h3 {
  font-size: var(--tertiary-header);
  font-weight: 500;
  /*line-height: 45px;*/
}

.container {
  width: 90%;
  margin: auto;
}

.btn {
  padding: 15px 50px;
}
p {
  font-size: 18px;
  color: var(--text-gray);
}
