.integrations {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 165px;
}
.integrations--container {
  width: 80%;
  margin: auto;
}
.integrations__content {
  max-width: 768px;
  margin-bottom: 30px;
}
.integrations__header {
  font-size: var(--small);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.line {
  width: 80px;
  height: 0;
  border: 1px solid #525596;
  display: inline-block;
  margin-right: 30px;
}
.integrations__title {
  max-width: 480px;
  line-height: 40px;
  margin-bottom: 50px;
  font-weight: 600;
}
.integrations__desc {
  margin-bottom: 60px;
}
.integrations__img {
  width: auto;
  margin: auto;
}
